@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url(rFont.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(font.ttf);
}

html, body {
	background-color: #FAFAFA;
	color: #0A0A0A;
	font-family: "Roboto";
	height: 100%;
	margin: 0px;
	width: 100%;
}

body {
	overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	font-size: 54px;
	margin: 0px;
	padding: 0.67em 0em;
}

h2 {
	font-size: 30px;
	margin: 0px;
	padding: 0.83em 0em;
}

h3 {
	font-size: 24px;
	margin: 0px;
	padding: 0.83em 0em;
}

.anim, .slide {
	transition-duration: 0.4s;
}

.centerizer {
	display: table;
	height: 100%;
	width: 100%;
}

.centerizer--auto-size {
	height: auto;
	width: auto;
}

.centerizer-content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.rale {
	font-family: 'Raleway';
}

.slide {
	height: 100%;
	width: 100%;
}

.slide--done {
	opacity: 0;
}

#slide2 h1 span, #slide3 h1 span {
	color: red;
	font-weight: 600;
}

#slide2 #url, #slide3 #url {
	margin: 0px auto;
	overflow-x: hidden;
	width: 268px;
}

#slide2.reveal0 #url, #slide3.reveal0 #url {
	width: 423px;
}

#slide3.reveal1 #r1 {
	color: #0A0A0A;
	font-weight: 300;
}

#slide3.reveal1 #url {
	width: 509px;
}

#slide3.reveal2 #r2 {
	color: #0A0A0A;
	font-weight: 300;
}

#slide3.reveal2 #url {
	width: 623px;
}

#slide3.reveal3 #r3 {
	color: #0A0A0A;
	font-weight: 300;
}

#slide3.reveal3 #url {
	width: 833px;
}

#slide3.reveal4 #r4 {
	color: #0A0A0A;
	font-weight: 300;
}

#slide3.reveal4 #url {
	width: 1000px;
}

#slide3.reveal5 #r5 {
	color: #0A0A0A;
	font-weight: 300;
}

#slide3.reveal5 #url {
	width: 100%;
}